<p>Create a job opening</p>

// form goes here <br>
// input text, employer_name <br>
// input text, title <br>
// input text, description <br>
// submit button <br>
// then save as Job Object to database <br>